/__pycache__
/web/__pycache__
/cache
/web/password.json
/web/static/css/font-awesome.css
/web/static/css/auth.all.css
/web/static/css/index.all.css
/web/static/js/set_password.lib.js
config.yml
mcp_config.json
chat_langchain.py
data.json