# 若模型拥有图像识别能力，则 聊天API 和 图像API 可以相同
# 聊天 API
# 若为本地模型（以 Ollama 为例），将 base_url 设置为本地地址（例如 http://127.0.0.1:11434/v1），api_key 设置为 "None"
api_key: "sk-xxxxxxx"
base_url: "https://api.moonshot.cn/v1"
# 选择对话模型
model: "gemma3:4b"

# 图像识别 API
vision_api_key: "sk-xxxxxxx"
vision_base_url: "https://api.moonshot.cn/v1"
# 选择对话模型
vision_model: "moonshot-v1-8k-vision-preview"

# 模型记忆长度
memory_length: 10

# 是否开启图像识别功能
enable_vision: true

# 模型 Temperature 范围：[0,1]
# 什么是模型 Temperature？ https://zhuanlan.zhihu.com/p/666670367
model_temperature: 0.6

# 是否开启持续会话系统
enable_continuous_session: true

# 是否启用 MCP 系统
# 启用后本地模型兼容性较差，需要配置 mcp_config.json 文件
enable_mcp: false

# 模型提示词
system_prompt: "你是一个聊天助手"

# 清理符号
cleanup_chars:
  - "**"
  - "#"

# 管理员列表
admins:
  - "userID 1"
  - "userID 2"